<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p>
        <%= startingContent %>
    </p>


    <%  posts.forEach(function(post){ %>
        <!-- this for each itself knows that it has to stop immediately when it 
encounters NULL in the array passed in posts here-->
        <h1>
            <%=post.title%>
        </h1>
        <p>
            <%=post.content.substring(0, 80) + " ..."%>
                <!-- to truncate string at 80th word -->
                <a href="/posts/<%=post.title%>">Read More</a>
        </p>


        <% }) %>


            <%- include("partials/footer"); -%>